* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
header {
  text-align: center;
  font-size: 27px;
  .top {
    display: inline-block;

    span {
      font-weight: lighter;
    }
  }
 
}
.main_info {
    display: flex;
    justify-content: center;

    img {
      width: 210px;
      height: 270px;
      margin-right: 70px;
      border: 1px solid;
    }
    ul {
      list-style: none;
      font-size: 20px;
    }
  }
form {
  text-align: center;

  .birthday {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;

    label {
      margin-right: 70px;
      font-weight: 800;
    }
  }
  .english {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    .level {
      display: block;
      margin-left: 68px;
      font-weight: 800;
    }
  }
  .skills {
    text-align: left;
    margin-left: 26%;

    .keySkills {
      font-weight: 800;
    }
    ul {
      list-style-type: none;
    }
  }
  .list {
    display: flex;
    margin-left: 26%;
    button {
      margin-left: 20px;
      background-color: black;
      color: white;
      padding: 5px;
    }
  }
  .language {
    font-weight: 700;
    margin-right: 24%;
    margin-top: 25px;
    select {
      margin-left: 20px;
    }
  }
  .salary {
    font-weight: 700;
    margin-right: 28%;
    margin-top: 25px;
    input {
      margin-left: 20px;
    }
  }
  .other_skills {
    margin-right: 6%;
    margin-top: 25px;
    span {
      font-weight: 700;
    }
    input {
      margin-left: 30px;
    }
  }
  .education {
    margin-left: 26%;
    margin-top: 25px;
    p {
      font-weight: 700;
      text-align: left;
    }
    table,
    th,
    td {
      border: 1px solid;
    }
    td {
      padding: 10px;
    }
  }
  .savebtn {
    margin-top: 45px;
    margin-right: 41%;
    padding: 5px;
    background-color: black;
    color: white;
  }
}
